@import "../../scss/extends";
@import "../../scss/mixins";

.productos_detail_container{
    @include flexbox(flex, row nowrap, center);
    @media screen and (max-width: 960px){
        @include flexbox(flex, column wrap, space-around);
        align-items: center;
    }   
    .productos_detail_container_nav{
        @include flexbox(flex, column nowrap, flex-start);
        .nombreProducto{
            font-weight: bold;
            text-transform: capitalize;
                @media screen and (max-width: 480px){
                    font-size: 1.75em;
                }
            }
        .productos_detail_container_nav--cantidad{
            @include flexbox(flex, row nowrap, flex-start);
            align-items: center;
            height: 30vh;
        }
    }
    img{
        width: 50%;
        @media screen and (max-width: 480px){
            width: 100%;
        }
        @media screen and (min-width: 481px) and (max-width:960px){
            width: 75%;
        } 
    }
}

.button_atras, .button_preguntar{
    color:$bg-principal;
    padding: 0.8em;
    border: solid 1px $bg-principal;
    border-radius: 1.25em;
    background-color: black;
    font-size: 0.9em;
    width: 10%;
    @media screen and (max-width: 480px){
        width: 30%;
    }
    @media screen and (min-width: 481px) and (max-width:960px){
        width: 25%;
    }    
    &:hover{
        background-color: rgb(34, 34, 34);
        border: solid 1px $bg-principal;
        border-radius: 0.75em;
        @extend %transition-general;
        color:$hover-principal;
    }
}
#Preguntas{
    margin-left: 2em;
}