@import '../../scss/extends';
@import '../../scss/mixins';

.checkOut_producto_container{
    @include flexbox(flex, row nowrap, space-between);
    align-items: center;
    .checkOut_producto_container_detail{
        @include flexbox(flex, column wrap, space-between);
        .nombreProducto{
            text-transform: capitalize;
            padding: 0.5em 0;
            text-decoration: underline;
        }
    }
    img{
        width: 10%;
        @media screen and (max-width: 480px) {
            width: 25%;
        }
        @media screen and (min-width: 481px) and (max-width: 960px) {
            width: 17%;
        }
    }
}
.oferta_producto_container{
    @media screen and (max-width:480px){
        @include flexbox(flex, column wrap, space-around);
    }
    @include flexbox(flex, row wrap, space-around);
    .oferta_producto_container_link{
        img{
            width: 100%;
            @media screen and (max-width:480px){
                height: auto;
            }
            height: 20vh;
        }
    }
}
.button_finalizar{
    color:$bg-principal;
    padding: 1em;
    border: solid 1px $bg-principal;
    border-radius: 1.25em;
    background-color: black;
    font-size: 0.9em;
    &:hover{
        background-color: rgb(34, 34, 34);
        border: solid 1px $bg-principal;
        border-radius: 0.75em;
        @extend %transition-general;
        color:$hover-principal;
    }
}
.alert-message{
    color:red;
    font-size: 0.8em;
}